@use "variables";
body {
    margin: 0;
    background-color: variables.$bg;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}